# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/

# Notebooks
.ipynb_checkpoints/

# Maps
simulation/2024_03_Planica_12_winds/

# Environments
.venv/
env/
venv/
flight_env/

# Data & results
*.npz
*.xlsx
*.h5
*.pkl
*.npy

# OS/system
.DS_Store
Thumbs.db
